<!-- <div class="container">
    <ng-container *ngIf="mainElement === 'GridStage'">
      Implement the GridStage component here 
    </ng-container>
  
    <ng-container *ngIf="mainElement === 'SpeakerStage'">
       Implement the SpeakerStage component here 
    </ng-container>
  
    <div *ngFor="let track of getAudioTracks()">
      <app-audio-renderer [track]="track" [isLocal]="false"></app-audio-renderer>
    </div>
  
    <div class="overlay" *ngIf="stageProps.roomState.room?.canPlaybackAudio === false">
      <button class="unmuteButton" (click)="unmuteAudio()">
        <fa-icon class="icon" size="1x" icon="faVolumeMute"></fa-icon>
        Click to Unmute
      </button>
    </div>
  </div> -->



  